body{
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.navegacion{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    transition: all .3s ease-in-out;
    transform: translateY(-92px);
    &.salir{
        transform: translateY(0);
        // position: sticky;
    }
    .filaNav{
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 10%;
        img{
            width: 100%;
        }
    }
    .hamburguer{
        width: 15%;
        height: 100%;
        margin: .75rem 0;
        background: none;
        border: none;
        display: none;
        outline: none;
        &.abierto{
            .raya-1{
                transform: rotate(45deg) translate(7px, 7px);
            }
            .raya-2{
                opacity: 0;
            }
            .raya-3{
                transform: rotate(-45deg) translate(7px, -9px);
            }
        }
        .raya{
            height: 6px;
            width: 40%;
            margin-bottom: 4px;
            background: #000;
            margin-left: auto;
            margin-right: auto;
            transition: all .3s ease;
            border-radius: 2px;
        }
    }
    .items{
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 75%;
        li{
            width: 25%;
            text-align: center;
            a{
                color: #000;
                font-family: $font-family-1;
                font-weight: 500;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
.banner{
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
    height: 100vh;
    .logo{
        padding: 3em 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .titulo{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            h1{
                color: $primario;
                font-family: Proxima Nova;
                font-weight: 500;
                font-size: 4rem;
            }
        }
        .triangulo-container{
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 90%;
                overflow: visible;
                .triangulo{
                    fill: $primario;
                }
            }
        }
    }
}
.main{
    overflow-y: hidden;
    .marcas{
        padding: 2rem 0 2.875rem;
        background: #F9F9F9;
        .container{
            h3{
                text-align: center;
                font-family: $font-family-1;
                font-weight: bold;
                margin: 0;
                padding: 1.875rem;
            }
            .row{
                .columna-brand{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 50%;
                    }
                }
            }
        }
    }
    .quienes{
        background: url('../img/bg-quienes.jpg') $primario;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow-y: hidden;
        &::before{
            background: rgba(#000, .8);
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            .texto-medio{
                color: #fff;
                font-family: $font-family-1;
                font-weight: normal;
                text-align: center;
                padding: 4rem 0;
                position: relative;
                z-index: 2;
                width: 68%;
                h3{
                    font-size: 2rem;
                    font-weight: bold;
                    font-family: $font-family-1;
                }
                .contenedor-video{
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    z-index: 10;
                    iframe{
                        position: absolute;
                        width: 100% !important;
                        height: 100% !important;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
    .refacciones{
        position: relative;
        padding: 4rem 0 4rem;
        height: 600px;
        background: $almost-white;
        .container{
            background: #fff;
            .row{
                .maquina{
                    background-image: url('../img/parts.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .texto{
                    text-align: right;
                    text-align: justify;
                    padding: 6rem;
                    h3{
                        font-family: $font-family-1;
                        font-weight: 700;
                        font-size: 2rem;
                    }
                    p{
                        font-family: $font-family-1;
                        font-size: 1.25rem;
                        font-weight: 400;
                    }
                    .icono{
                        width: 100px;
                        height: 100px;
                        margin: 2rem 0;
                        font-size: 7rem;
                        color: $primario;
                        display: none;
                    }
                }
            }
        }
    }
    .reemplazo{
        position: relative;
        padding: 2rem 0 4rem;
        height: 600px;
        overflow: hidden;
        .container{
            height: 100%;
            .row{
                height: 100%;
                justify-content: flex-start;
                .maquina{
                    width: 60%;
                    height: 100%;
                    position: absolute;
                    right: -35%;
                    background-image: url('../img/komatsu730-e.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .texto{
                    width: 50%;
                    align-self: center;
                    text-align: left;
                    h3{
                        font-family: $font-family-1;
                        font-weight: 700;
                        font-size: 2rem;
                    }
                    p{
                        font-family: $font-family-1;
                        font-size: 1.25rem;
                        font-weight: 400;
                    }
                    .icono{
                        width: 100px;
                        height: 100px;
                        margin: 2rem 0;
                        font-size: 7rem;
                        color: $primario;
                        display: none;
                    }
                }
            }
        }
    }
    .catSeguridad{
        padding: 5rem 0;
        background: #F9F9F9;
        &__titulo{
            text-align: center;
            margin-bottom: 40px;
            font-family: $font-family-1;
            font-weight: bold;
        }
        .cat__items{
            padding: 0;
            margin: 0;
            &__item{
                font-size: 1.15rem;
                font-weight: 400;
                font-family: $font-family-2;
                margin-bottom: 20px;
                list-style: none;
                display: flex;
                align-items: center;
                &__icon{
                    margin-right: 10px;
                    font-size: 1rem;
                    color: $primario;
                }
            }
        }
    }
    .finders{
        background: #f8f8f8;
        padding: 4rem;
        .container{
            margin: 4rem auto;
            // background: #fff;
            .row{
                .col-lg-6{
                    background: #fff;
                    &:first-child{
                        background: url("../img/call-center.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                    &:last-child{
                        padding: 6rem ;
                    }
                }
            }
            p{
                font-size: 1.25rem;
                font-family: $font-family-1;
                font-weight: 400;
                text-align: justify;
            }
            h3{
                font-family: $font-family-1;
                font-weight: 700;
                text-align: center;
                line-height: 2.5rem;
            }
            .row-svg{
                .col-lg-6{
                    background: #fff;
                    &:first-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #fff;
                        svg{
                            width: 47%;
                        }
                    }
                    &:last-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .container{
                            width: 80%;
                            text-align: left;
                            padding-top: 5.5rem;
                            padding-bottom: 5.5rem;
                            h4{
                                font-family: $font-family-1;
                                font-weight: 400;
                            }
                        }
                    }
                }
                &--grande{
                    .col-lg-6{
                        &:last-child{
                            .container{
                                padding-top: 4rem;
                                padding-bottom: 4rem;
                            }
                        }
                    }
                }
            }
        }
        .carou__btn{
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            &__button{
                width: 50px;
                height: 50px;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                margin: 0 1rem;
                color: #ccc;
                outline: none;
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.1);
                    color: #bebdbd;
                }
            }
        }

    }
    .servicios{
        padding: 8rem 0;
        h3{
            text-align: center;
            font-family: $font-family-1;
            font-weight: bold;
        }
        .col-md-6{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .container{
                padding-top: 4rem;
                padding-bottom: 4rem;
                text-align: center;
                svg{
                    margin-bottom: 1.2rem;
                }
                h4{
                    font-family: $font-family-1;
                    font-weight: 400;
                }
                ul{
                    width: 25%;
                    padding: 0;
                    margin: 0 auto;
                    li{
                        font-family: $font-family-1;
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .tratos{
        padding: 8rem 0 3rem;
        .container{
            .row{
                .col-md-6{
                    &:first-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 47%;
                        }
                    }
                    &:last-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .container{
                            width: 80%;
                            text-align: left;
                            h4{
                                font-family: $font-family-1;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
    .permisos{
        padding: 3rem 0;
        .container{
            .row{
                .col-md-6{
                    &:first-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .container{
                            text-align: center;
                            width: 80%;
                            h4{
                                font-family: $font-family-1;
                                font-weight: 400;
                            }
                        }
                    }
                    &:last-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 47%;
                        }
                    }
                }
            }
        }
    }
    .bodega{
        padding: 3rem 0 8rem;
        .container{
            .row{
                .col-md-6{
                    &:first-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 47%;
                        }
                    }
                    &:last-child{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .container{
                            width: 80%;
                            text-align: left;
                            h4{
                                font-family: $font-family-1;
                                font-weight: 400;;
                            }
                        }
                    }
                }
            }
        }
    }
    .testimonio{
        padding: 6rem 2rem;
        background: rgb(28,35,100);
        background: -moz-linear-gradient(-45deg, rgba(28,35,100,1) 16%, rgba(20,79,87,1) 52%, rgba(20,79,87,1) 52%, rgba(20,79,87,1) 60%, rgba(20,79,87,1) 79%, rgba(20,79,87,1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(28,35,100,1) 16%,rgba(20,79,87,1) 52%,rgba(20,79,87,1) 52%,rgba(20,79,87,1) 60%,rgba(20,79,87,1) 79%,rgba(20,79,87,1) 100%);
        background: linear-gradient(135deg, rgba(28,35,100,1) 16%,rgba(20,79,87,1) 52%,rgba(20,79,87,1) 52%,rgba(20,79,87,1) 60%,rgba(20,79,87,1) 79%,rgba(20,79,87,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2364', endColorstr='#144f57',GradientType=1 );
        .container{
            .foto{
                width: 75%;
                max-width: 410px;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
            .texto{
                height: 100%;
                width: 100%;
                display: flex;
                text-align: justify;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #fff;
                font-family: $font-family-1;
                h3{
                    font-weight: bold;
                    font-size: 2rem;
                    margin-bottom: .875rem;
                }
                p{
                    font-weight: 400;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .clientes{
        background: #fff;
        padding: 4rem 0;
        h3{
            font-family: $font-family-1;
            font-weight: bold;
            text-align: center;
        }
        ul{
            margin: 0;
            padding: 5rem 0 1rem;
            background: #fff;
            -webkit-display: grid;
            -moz-display: grid;
            -ms-display: grid;
            -o-display: grid;
            display: grid;
            grid-template-columns: repeat(9, auto);
            li{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                img{
                    width: 75%;
                }
            }
        }
    }
    .garantia{
        padding: 3rem 0 7rem;
        .container{
            .row{
                .col-md-6{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:first-child{
                        svg{
                            width: 47%;
                        }
                    }
                    &:last-child{
                        .container{
                            p{
                                font-family: $font-family-1;
                                font-weight: 400;
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .newsletter{
        padding: 4rem 0;
        background: url('../img/igor-ovsyannykov-371066-unsplash.jpg') no-repeat;
        background-size: cover;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: -moz-linear-gradient(-45deg, rgba(28,35,100,1) 11%, rgba(28,35,100,1) 32%, rgba(20,79,87,1) 75%, rgba(20,79,87,1) 100%, rgba(20,79,87,1) 100%);
            background: -webkit-linear-gradient(-45deg, rgba(28,35,100,1) 11%,rgba(28,35,100,1) 32%,rgba(20,79,87,1) 75%,rgba(20,79,87,1) 100%,rgba(20,79,87,1) 100%);
            background: linear-gradient(135deg, rgba(28,35,100,1) 11%,rgba(28,35,100,1) 32%,rgba(20,79,87,1) 75%,rgba(20,79,87,1) 100%,rgba(20,79,87,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2364', endColorstr='#144f57',GradientType=1 );
            opacity: .9;
            z-index: 1;
        }
        .texto,
        .newsletter-form{
            position: relative;
            z-index: 2;
        }
        .texto{
            width: 100%;
            text-align: center;
            font-family: $font-family-1;
            color: #fff;
            h3{
                font-weight: bold;
                font-size: 1.625rem;
            }
            p{
                font-weight: 300;
                font-size: 1.25rem;
            }
        }
        .newsletter-form{
            width: 75%;
            margin: 0 auto;
            text-align: center;
            input[type="email"]{
                border: none;
                outline: none;
                background: rgba(255,255,255,.5);
                width: 50%;
                margin: 0 auto;
            }
            input[type="submit"]{
                background: #000;
                color: #fff;
                font-family: $font-family-1;
                padding: 10px 55px;
            }
        }
    }
    .contacto{
        .container{
            padding-top: 4rem;
            padding-bottom: 4rem;
            h3{
                margin-bottom: 3rem;
                text-align: center;
                font-family: $font-family-1;
                font-weight: bold;
            }
            .contacto-form{
                width: 75%;
                margin: 0 auto;
                input[type="text"],
                input[type="email"],
                input[type="tel"],
                textarea{
                    border: 2px solid rgba(#9F9F9F,.3);
                    border-radius: 0;
                    padding: 14px 15px;
                    font-family: $font-family-2;
                    font-weight: normal;
                    text-transform: uppercase;
                    outline: none;
                    &::placeholder{
                        text-transform: uppercase;
                        color: rgba($primario, .4);
                    }
                    &:active,
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }

                }
                input[type="text"]{
                    border-radius: 10px 0 0 0;
                }
                input[type="tel"]{
                    border-radius: 0 10px 0 0;
                }
                textarea{
                    width: 100%;
                    height: 280px;
                    min-height: 280px;
                    max-height: 280px;
                }
                input[type="submit"]{
                    width: 100%;
                    padding: 14px 0;
                    border-radius: 0 0 10px 10px;
                    background: $secundario-1;
                    color: #fff;
                    font-family: $font-family-2;
                    font-weight: normal;
                }
            }
        }
    }
}
footer{
    position: relative;
    width: 100%;
    .informacion{
        background: #fff;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 4rem;
        h4{
            color: #fff;
            font-family: $font-family-1;
            font-weight: bold;
            font-size: 1.25rem;
            padding: 2rem 0 0;
            display: inline-block;
        }
        .container{
            padding: 4rem 0;
            display: flex;
            .info-contacto{
                width: 100%;
                text-align: center;
                font-family: $font-family-1;
                font-weight: bold;
                color: $secundario-1;
            }
            .redes{
                .icono{
                    color: #fff;
                }
            }
        }
    }
}

@keyframes flotar{
    0%{
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    50%{
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100%{
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}